/* ===============================
   LAYOUT BASE
================================ */

.layout {
  display: flex;
  min-height: 100vh;
}

/* ===============================
   CONTEÚDO PRINCIPAL
================================ */

.main-content {
  margin-left: 220px;

  width: calc(100% - 220px);

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  overflow-x: hidden;
}

/* ===============================
   CONTEÚDO INTERNO
================================ */
.page-content {
  flex: 1;
  padding: 8px 20px 20px 20px;

  overflow-y: auto;
}

/* ===============================
   SIDEBAR COLLAPSED
================================ */

.sidebar.collapsed + .main-content {
  margin-left: 70px;
  width: calc(100% - 70px);
}

/* ===============================
   MOBILE
================================ */

@media (max-width: 768px) {

  .main-content {

    margin-left: 70px;

    width: calc(100% - 70px);

    overflow-x: hidden;
  }

  .page-content {

    padding: 8px 10px 20px 10px;

    overflow-x: hidden;
  }

}